body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Custom Colors */
.bg-coral-50 { background-color: #FFF5F5; }
.bg-coral-100 { background-color: #FFE4E4; }
.bg-coral-700 { background-color: #F56565; }
.bg-teal-50 { background-color: #E6FFFA; }
.bg-teal-100 { background-color: #B2F5EA; }
.bg-teal-500 { background-color: #4FD1C5; }
.bg-teal-700 { background-color: #2C7A7B; }
.bg-lavender-50 { background-color: #F5F3FF; }
.bg-lavender-100 { background-color: #E9D8FD; }
.bg-yellow-100 { background-color: #FEF9C3; }
.bg-yellow-700 { background-color: #D97706; }

.text-coral-600 { color: #F56565; }
.text-teal-600 { color: #4FD1C5; }

.festival-blade__container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12,minmax(0,1fr));
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0 8px
}

@media screen and (max-width: 1083px) {
  .festival-blade__container {
    padding-left:24px;
    padding-right: 24px
  }
}

@media screen and (max-width: 539px) {
  .festival-blade__container {
    padding-left:12px;
    padding-right: 12px
  }
}

.festival-blade__container ul,.festival-blade__container li {
  display: contents
}

.festival-blade .section-heading__container .section-heading__heading,
.festival-blade .section-heading__container .section-heading__subheading {
  font-weight: 400;
  font-family: Segoe Sans Regular,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media screen and (max-width: 539px) {
  .festival-blade__forced-video-aspect-ratio .simple-video .simple-video__card video {
    aspect-ratio:1.77777778;
    object-fit: cover
  }
}

.festival-blade-card {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  grid-column: span 3
}

/* Login Card */
.login-card {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1), -8px -8px 16px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s, box-shadow 0.3s;
}

.login-card:hover {
  transform: scale(1.02);
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.15), -12px -12px 20px rgba(255, 255, 255, 0.9);
}
/* announcement Field */
.announcement-text:hover {
  animation-play
